<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>EnvironmentVariables</key>
		<dict>
			<key>PATH</key>
			<string>/bin:/usr/bin:/usr/local/bin:/usr/sbin:/sbin</string>
		</dict>
		<key>Label</key>
		<string>com.zebrunner.usbmuzd</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/local/bin/socat</string>
			<string>TCP-LISTEN:2222,reuseaddr,fork</string>
			<string>UNIX-CONNECT:/var/run/usbmuxd</string>
        	</array>
		<key>WorkingDirectory</key>
		<string>working_dir_value</string>
		<key>UserName</key>
		<string>user_value</string>

                <key>KeepAlive</key>
                <true/>

                <key>RunAtLoad</key>
                <true/>

		<key>StartInterval</key>
 		<integer>0</integer>

		<key>StandardErrorPath</key>
		<string>logs/socat.log</string>
		<key>StandardOutPath</key>
		<string>logs/socat.log</string>
	</dict>
</plist>
