<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>EnvironmentVariables</key>
      <dict>
        <key>PATH</key>
        <string>/bin:/usr/bin:/usr/local/bin:/usr/sbin:/sbin</string>
      </dict>

    <key>Label</key>
      <string>com.zebrunner.mcloud</string>

    <key>ProgramArguments</key>
      <array>
        <string>/usr/local/bin/zebrunner-device-listener</string>
      </array>

    <key>WorkingDirectory</key>
      <string>{{ lookup('env', 'ZEBRUNNER_MCLOUD_AGENT_DIR') }}</string>

    <key>UserName</key>
      <string>{{ lookup('env', 'USER') }}</string>

    <key>KeepAlive</key>
      <true/>

    <key>RunAtLoad</key>
      <true/>

    <key>StandardErrorPath</key>
      <string>{{ lookup('env', 'ZEBRUNNER_MCLOUD_AGENT_DIR') }}/logs/listener.err.log</string>

    <key>StandardOutPath</key>
      <string>{{ lookup('env', 'ZEBRUNNER_MCLOUD_AGENT_DIR') }}/logs/listener.log</string>

  </dict>
</plist>
