---
extends: default

yaml-files:
  - '*.yaml'
  - '*.yml'
  - '*.yml.original'
  - '.yamllint'

# roles/*/vars/main.yml are the local settings of a farm
ignore-from-file: .gitignore

rules:
  line-length:
    max: 160
  truthy:
    allowed-values: ['true', 'false']
    # the `on:` key of GitHub workflows
    check-keys: false
