{% for device in devices %}
SUBSYSTEM=="usb", ENV{ID_SERIAL_SHORT}=="{{ device.id | replace('-','') }}", MODE="0666", SYMLINK+="device-{{ device.name | replace(' ','_')}}-{{ device.id }}"
ACTION=="remove", ENV{ID_SERIAL_SHORT}=="{{ device.id | replace('-','') }}", RUN+="/usr/local/bin/zebrunner-farm remove {{ device.id }}"
ACTION=="add", ENV{ID_SERIAL_SHORT}=="{{ device.id | replace('-','') }}", RUN+="/usr/local/bin/zebrunner-farm add {{ device.id }}"
{% endfor %}
