{% for device in devices %}
SUBSYSTEM=="usb", ENV{ID_SERIAL_SHORT}=="{{ device.id | trim | replace('-','') }}", MODE="0666", SYMLINK+="device-{{ device.name | trim | regex_replace('\\s+', '_') }}-{{ device.id | trim }}"
ACTION=="remove", ENV{ID_SERIAL_SHORT}=="{{ device.id | trim | replace('-','') }}", RUN+="/usr/local/bin/zebrunner-farm down {{ device.id | trim }}"
ACTION=="add", ENV{ID_SERIAL_SHORT}=="{{ device.id | trim | replace('-','') }}", RUN+="/usr/local/bin/zebrunner-farm restart {{ device.id | trim }}"
{% endfor %}
